<div class="card">
  <%= link_to image_tag(img.link, width: "350"), image_path(img) %>
  <div class="card-body">
    <h5 class="card-title">Tags:</h5>
    <p class="card-text js-tags">
      <% img.tag_list.each do |tag|%>
        <%= link_to tag, images_path(tags: tag) %>
      <% end %>
    </p>
    <%= link_to 'Delete', image_path(img), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div>
</div>
