<div class="album text-muted">
    <div class="row">
      <% @images.each do |img| %>
        <%= render partial: 'image_card', locals: { img: img, image_email: @image_email }%>
    <% end %>
    </div>
</div>
