<%= simple_form_for @image do |form| %>
  <p>
    <%= form.input :link, label: 'Image link' %>
  </p>
  <span class="js-errors"> <%= errors if local_assigns[:errors] %> </span>
  <p>
    <%= form.button :submit %>
  </p>
<% end %>
