<%= simple_form_for @image do |form| %>
  <p>
    <%= form.input :link, label: 'Image link' %>
  </p>
  <p>
    <%= form.input :tag_list, label: 'Image tag', input_html: { value: @image.tag_list.to_s } %>
  </p>
  <p>
    <%= form.submit 'Save', class: "btn btn-outline-primary" %>
  </p>
<% end %>
