<div class="container">
<%= simple_form_for @image do |form| %>
  <p>
    <%= form.input :link, label: 'Image link' %>
  </p>
  <span class="js-errors"> <%= errors if local_assigns[:errors] %> </span>
  <p>
    <%= button_tag(type: 'submit', class: "btn btn-outline-primary") do %>
      <i class="icon-ok icon-white"></i> Save
    <% end %>
  </p>
<% end %>
</div>
